<html>
    <head>
        <title>res.render() Demo</title>
    </head>
    <body>
        <h2>Welcome to GeeksforGeeks</h2>

            <form action="sendText/enviar" method="post">


                    <input type="text" id="texto" name="texto2">

                    <button type="submit">Send </button>

            </form>

    </body>
</html>